html, body {
  height: 100%;
}

body {
  background-color: #fff;
  font-family: sans-serif;
  margin: 0;
  overflow: hidden;
  padding: 0;
}

#blocklyDiv {
  padding: 0;
}

#workspaceArea {
  height: 100%;
  width: 70%;
  float: left;
  resize: horizontal;
  overflow: hidden;
}

#workspaceArea[class~="--narrow"] {
  width: 20%;
}

#rightArea {
  height: 100%;
  width: 30%;
  float: left;
  overflow-x: hidden;
  overflow-y: auto;
}

#rightArea[class~="--wide"] {
  width: 80%;
}

#rightArea > * {
  padding-left: 10px;
}

.titleHeader {
  border-bottom: 1px dotted #000;
  font-weight: normal;
  font-size: 140%;
  height: 40px;
  margin: 0;
  padding-top: 10px;
  width: 100%;
}

.content {
  height: calc(100% - 48px);
}

.codeToBlock .contentTitle {
  border-left: 10px solid #ed2553;
}

.blockToCode .contentTitle {
  border-left: 10px solid #18aa8d;
}

textarea.ocamlCode, textarea.generatedCode {
  resize: none;
}

.btn {
  color: black;
  cursor: pointer;
  background-color: #d3d3d3;
  outline: none;
  width: 120px;
}

.btn[class~="--square"] {
  height: 27px;
  width: 30px;
}

.box {
  background-color: #eeeeee;
  width: 200px;
  padding: 3px 5px;
  margin-top: 6px;
  font-size: 12px;
}

#upload-file {
  width: 200px;
}

hr {
  margin-right: 10px;
}

.clear {
  clear: both;
}
